/* Write your CSS code here */
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.contact-img {
  width: 150px;
}
.contact-heading {
  font-size: 40px;
  font-family: Roboto;
  font-weight: 500;
  color: #6d396b;
}

@media screen and (min-width: 768px) {
  .contact-heading {
    font-size: 32px;
  }
}
